*.swp
*~
.DS_Store
.buildpath
.cache/
.idea
.project
.rvmrc
.settings
.vagrant
Thumbs.db
composer.phar
project/app/bootstrap.php.cache
project/app/cache
project/app/logs
project/bin/
project/build/
project/nbproject/
project/test/report/
project/vendor/
project/vendor/autoload.php
project/vendor/composer/
project/vendor/guzzle/
project/vendor/symfony/
project/vendor/zircote/
project/web/bundles/
tags
