{% extends "TwigBundle::layout.html.twig" %}

{% block title %}CitizenNet - Frontend Challenge{% endblock %}

{% block content_header '' %}

{% block body %}

    <h1 class="title">Welcome!</h1>

    <p>This is the Frontend Challenge application for CitizenNet.</p>


{% endblock %}
